{% extends "Main.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
           <h2 class="fw-bold text-danger">
            Heyy {{request.user}}, Welcome to your dashboard!
           </h2>
    </div>
    <div class="col-md-8 bg-secondary p-2">
        {% for post in posts %}
    <div class="card bg-info-subtle p-3 mb-3">
      <div class="card-header fw-bold text-danger">{{post.title}} <span><a href="">Edit</a></span> <span><a href="">Delete</a></span></div>
      <div class="card-body">
        <h5 class="card-title" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        ;">Writen by {{post.author}}</h5>
        <h5 class="card-title">{{post.topic}}</h5>
        <h6 class="card-title">Updated {{post.created | timesince}}</h6>
        <p class="card-text">{{post}}</p>
        <a href="{% url 'blog' post.id %}" class="btn btn-primary">Read more</a>
      </div>
    </div>
    {% endfor %}
    </div>
    
  </div>
</div>

{% endblock content %}
